* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(209, 22, 22);
}


.header {
    margin: .5rem .6rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;


}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 5rem;
    padding-left: 4rem;
    cursor: pointer;
}

.logo img {
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    border: 1px solid black;

}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lists {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-direction: row;
    padding-right: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(231, 205, 205, 0.861);

}

.lists>li {

    list-style: none;
    margin-right: 2rem;
}

.search-Bar {
    display: flex;
    align-items: center;
    justify-content: first baseline;
    gap: 2rem;
    padding: 2rem 5rem;

}

.search-Bar input {
    border-style: none;
}

.search-Bar button {
    cursor: pointer;
}

.res-Cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    gap: 4rem;
    padding: 1.75rem 1rem;
}

.res-Card {
    width: 200px;
    height: 300px;
    border-radius: 4px;
    padding: .2rem;
    border: 1px solid rgb(225, 215, 215);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.553);
}

.res-logo {

    border-radius: 4px;
    width: 100%;
    height: 70%;
}

.res-Card:hover {
    border: 2px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}